@font-face {
	font-family: "Alexandria";
	src:
	  url("../../../assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
  }
  @font-face {
	font-family: "cairo";
	src:
	  url("../../../assets/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf");
  }

.flex{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.example-card{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    direction: rtl;

}


.example-card{
    margin-top: 15px;
    margin-bottom: 15px;
  
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    

  }

  .example-form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .example-full-width{
    width: 80%;
    margin-bottom: 15px;
   
  }

  .loginbtn{
    width: 80%;
    font-family: cairo;
  }

  .reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .reg p{
    font-size: large;
  }

  .regbtn{
    border:solid 1px #3f51b5;
    font-family: cairo;
  }

  .invalid{

    border-color: #f81515;
    background: #ffcdcd;
  }

  p{
    font-size: 35px;
    font-family: cairo;

  }

  h1{
    font-size: 25px;
    font-family: alexandria;
  }