
<div class="container">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

      <div class="info"><p>دراسات جدوي خاصة بمشروعك يمكنك المراسلة للوصول الي الدراسة الصحي</p>
        <div calss="btns">
      <button mat-raised-button color="warn">حذف </button>
      <button mat-raised-button color="primary">شراء</button></div>
    </div>
    </mat-card-header>
 
    
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
  
        <div class="info"><p>دراسات جدوي خاصة بمشروعك يمكنك المراسلة للوصول الي الدراسة الصحي</p>
          <div calss="btns">
        <button mat-raised-button color="warn">حذف </button>
        <button mat-raised-button color="primary">شراء</button></div>
      </div>
      </mat-card-header>
   
      
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
    
          <div class="info"><p>دراسات جدوي خاصة بمشروعك يمكنك المراسلة للوصول الي الدراسة الصحي</p>
            <div calss="btns">
          <button mat-raised-button color="warn">حذف </button>
          <button mat-raised-button color="primary">شراء</button></div>
        </div>
        </mat-card-header>
     
        
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
      
            <div class="info"><p>دراسات جدوي خاصة بمشروعك يمكنك المراسلة للوصول الي الدراسة الصحي</p>
              <div calss="btns">
            <button mat-raised-button color="warn">حذف </button>
            <button mat-raised-button color="primary">شراء</button></div>
          </div>
          </mat-card-header>
       
          
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
        
              <div class="info"><p>دراسات جدوي خاصة بمشروعك يمكنك المراسلة للوصول الي الدراسة الصحي</p>
                <div calss="btns">
              <button mat-raised-button color="warn">حذف </button>
              <button mat-raised-button color="primary">شراء</button></div>
            </div>
            </mat-card-header>
         
            
            </mat-card>

</div>